
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #67b857;
}

.bg {
  min-width: 340px;
}

body {
  background-color: #67b857;
  text-align: center;
}

.App{
  background-color: white;
  margin: 30px;
  min-height: 88vh;
}

h1 {
  margin-top: 10px;
  font-family: 'Lobster', cursive;
  color: #67b857;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
} 

h6 {
  color: #2e4629;
  font-weight: bold;
}

.green-text {
  color: #67b857;
}

.bottom-space {
  margin-bottom: 10px;
}

.double-bottom-space {
  margin-bottom: 20px;
}

.left-space {
  margin-left: 10px;
}

.top-space {
  margin-top: 10px;
}


/* Hide the default checkbox */
.custom-sq input[type=checkbox] {
  display: none;
}

/* Draw our custom check box */
.custom-sq {
  font-size: 16px;
  line-height: 20px;
}
.custom-sq label {
  cursor: pointer;
}
.custom-sq label:before {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  content: "\00a0";
  text-align: center;
  background: #eee;
}
.custom-sq label:hover::before{
  background: #aaa;
}

/* On check */
.custom-sq input:checked ~ label:before {
  content: "\2713";
  background: #67b857;
  color: #fff;
}

.associations-list {
  list-style-type: none;
  text-align: left;
  margin-left: 84px;
}

